/*
  Переменные для вашего проекта
  и их переопределение под различные устройства
*/
:root {
  --accent-color: #FF0070;
  --accent-title-shadow-color: #FF0070;
  --paragraph-outline-color: #F1B2CE;
  --theme-menu-button: #FF0070;
  --button-color-hover: #FF007066;
  --corner-color: #FF0070;
  --main-font: 'IBM Plex Mono', sans-serif;
  --normal-font-weight: normal;
  --bold-font-weight: bold;
  --color-subtitle-decor: #000028;
  --color-title-decor: #DB00FF;
  --background-color-subtitle-color: #FF0070;
  --title-decor-color: #FF0070;
  --footer-shadow-title-color: #FF0070;
  --links-color: #FF0070;
  --links-focus-outline-color: #F1B2CE;
  --regular-font-size: 18px;
  --background-image: url(../images/cover-image-dark.png);
  --background-color-fallback: #000028;
}
